<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Developer Message</title>
    <link rel="stylesheet" href="../static/developer.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="editor-bar">
        <div class="dot red"></div>
        <div class="dot yellow"></div>
        <div class="dot green"></div>
        <div class="title">system.message.json</div>
      </div>

      <div class="code-block">
        <span class="key">"message"</span>:
        <span class="string"> "{{ message }}" </span>

        <span class="comment">// You can now download the packages below.</span>
      </div>

      <div class="footer">
        <div class="status">● environment: stable</div>
        <a class="download-btn" href="{{ shareable_folder }}" target="_blank">
          Download Packages
        </a>
      </div>
    </div>
  </body>
</html>
